#valuesStatus {
  font-family: AndaleMono, Monaco, monospace;
  overflow: hidden;
  white-space: pre-wrap;
  resize: none;
}

#values {
  font-family: AndaleMono, Monaco, monospace;
  overflow: hidden;
  white-space: pre-wrap;
  resize: none;
  overflow-y: scroll;
}

#file-content {
  font-family: AndaleMono, Monaco, monospace;
  /* display: inline-block; */
}

#file-content1 {
  font-family: AndaleMono, Monaco, monospace;
  white-space: pre-wrap;
  /* display: inline-block; */
}

#file-content2 {
  font-family: AndaleMono, Monaco, monospace;
  /* display: inline-block; */
}